<h1>Listing of Families</h1>

   <table>
      <tr>
         <th>Family Code</th>
         <th>Family Name</th>
         <th>Description</th>
         <th>View Family</th>
         <th>View Family Members</th>
      </tr>


    <% @families.each do |family| %>
      <tr>
         <td><a href="/families/<%= family.id %>"><%= family.family_code %></a></td>
         <td><%= family.surname %></td>
         <td><%= family.description %></td>
         <td><a class="button" href="/families/<%= family.id %>">View Family</a></td>
         <td><a class="button" href="/familymembers/family/<%= family.id %>">View Family Members</a></td>
      </tr> 
    <% end %>

    </table>