<h1>Family Detail</h1>

<h2>Family Name: <%= @family.surname %></h2>

<table>
    <tr>
        <td>Family Code: </td>
        <td><%= @family.family_code %></td>
    </tr>
    <tr>
        <td>Description: </td>
        <td><%= @family.description %></td>
    </tr>
    <tr>
        <td>Family Logo (Future Enhancement): </td>
        <td><%= @family.logo %></td>
    </tr>
    <tr>
        <td>Family Color (Future Enhancement): </td>
        <td><%= @family.color %></td>
    </tr>
    <tr>
        <td>Family Photo (Future Enhancement): </td>
        <td><%= @family.photo %></td>
    </tr>
    <br>
    </table>
    <br>
    <br>
    <p align="center">Users Authorized to Make Changes to Family:<p>
    <table>
                <% @family_users.each do |user| %>
                   <tr>
                        <td>User Name: </td>
                        <td><%= user[0] %> </td>
                        <td>Name: </td>
                        <td><%= user[1] %> <%= user[2] %></td>
                   </tr>
                <% end %>
</table>
<a class="button" href="/families/<%= @family.id %>/edit">Edit Family</a>
<% # Future addition? : Ability to delete family (if no familymembers in family) %>