<h1>Listing of Family Members</h1>
<h4>Family Name: <%= @family.surname %></h4>

<table>
   <tr>
      <th>Name</th>
      <th>Married Last Name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Hometown</th>
      <th>View Details</th>
   </tr>

   <% @familymembers.each do |member| %>
      <tr>
         <td><%= member.first_name %> <%= member.last_name %></td>
         <td><%= member.married_last_name %></td>
         <td><%= member.gender %></td>
         <td><%= member.birth_date %></td>
         <td><%= member.home_town %></td>
         <td><a class="button" href="/familymembers/<%= member.id %>">View Details</a>
      </tr>         
   <% end %>

 </table>