<h2>Family Member Detail</h2>
<h3><%= @familymember.first_name %> <%= @familymember.last_name %> <%= "(#{@familymember.married_last_name})" if @familymember.married_last_name %></h3>

<div class="container">
    <table>
        <tr>
            <td>Gender</td>
            <td><%= @familymember.gender %></td>
        </tr>
        <tr>
            <td>Birthdate</td>
            <td><%= @familymember.birth_date %></td>
        </tr>
        <tr>
            <td>Death (if applicable)</td>
            <td><%= @familymember.death_date %></td>
        </tr>
        <tr>
            <td>Hometown</td>
            <td><%= @familymember.home_town %></td>
        </tr>
        <tr>
            <td>Photo1 (Future Enhancemnt)</td>
            <td></td>
        </tr>
        <tr>
            <td>Photo2 (Future Enhancemnt)</td>
            <td></td>
        </tr>
        <tr>
            <td>Story (Future Enhancemnt)</td>
            <td></td>
        </tr>
    </table>

    

</div>