<h1>Family Tree</h1>

<div id="tree1">

    <div class="tree_box" id="main_box">
        <%= @familymember.first_name %> <%= @familymember.last_name %>
    </div>

    <div class="parent">
        <div class="child" id="mother">
            <%= @familytree["parents"]["mother"] %>
        </div>
        <div class="child" id="father">
        <%= @familytree["parents"]["father"] %>
        </div>
    </div>

    <div class="parent">
        <div class="grandparents">
            <div class="child" id="mother">
            <%= @familytree["maternal_grandparents"]["mother"] %>
            </div>
            <div class="child" id="father">
            <%= @familytree["maternal_grandparents"]["father"] %>
            </div>
        </div>
        
        <div class="grandparents">
            <div class="child" id="mother">
            <%= @familytree["paternal_grandparents"]["mother"] %>
            </div>
            <div class="child" id="father">
            <%= @familytree["paternal_grandparents"]["father"] %>
            </div>
        </div>
    </div>

    <div class="parent">
        <div class="great-grandparents">
            <div class="child" id="mother">
                Great-GrandMother
            </div>
            <div class="child" id="father">
                Great-GrandFather
            </div>
            <div class="child" id="mother">
                Great-GrandMother
            </div>
            <div class="child" id="father">
                Great-GrandFather
            </div>
        </div>
        
        <div class="great-grandparents">
            <div class="child" id="mother">
                Great-GrandMother
            </div>
            <div class="child" id="father">
                Great-GrandFather
            </div>
            <div class="child" id="mother">
                Great-GrandMother
            </div>
            <div class="child" id="father">
                Great-GrandFather
            </div>
        </div>
    </div>
</div>


   




</div>

