<h1>Listing of Data</h1>

<h2>Families</h2>
    <% @families.each do |family| %>
       <p> 
        <%= family.id %>
        <%= family.surname %> 
       </p>
    <% end %>

<h2>Family Members</h2>
    <% @familymembers.each do |member| %>
      <% #binding.pry %>
         <p> <h3>Member:</h3>
            <%= member.id %>
            <%= member.first_name %> 
            <%= member.last_name %>
            <%= member.gender %>
            <h4>Relationships</h4>
            <% member.relationships.each do |relationship| %>
                  <%= relationship.relation_type.capitalize %>:
                 
                  <%= relationship.related_familymember.first_name %>
            <% end %>
         </p>
    <% end %>
       
    